body {
    background: #2c3e50;
    text-decoration-color: #ecf0f1;
    color: #ecf0f1;
}

#regbar {
    height: 67px;
    background: #34495e;
}

#wrap {
    margin: 0 auto 30px;
}

h1 {
    font-family: Tahoma;
    font-size: xx-large;
    color: cyan;
    padding: 10px;
    margin-left: 5%;
}

h2 {
    font-family: Tahoma;
    font-size: x-large;
    color: cyan;
    padding: 10px;
    margin-left: 5%;
}

#login  {
    padding: 10px;
    margin-left: 5%;
    width: 50%;
    color: #ecf0f1;
}

#register {
    padding: 10px;
    margin-left: 5%;
    width: 50%;
    display: none;
    color: #ecf0f1;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}

fieldset {
    border: none;
}

body.p {
    color: #ecf0f1;
    text-decoration: none;
}
